@import "https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900";

html, body
{
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}

.nav-link
{
  color: white !important;
  font-size: 1.1rem;
}

.navbar-nav li
{
  padding-right: 10px;
  font-weight: 500;
}

.navbar-brand img
{
  width: 30%;
}

.carousel-inner img
{
  width: 100%;
  height: 100%;
}

.carousel-caption button
{
  font-size: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary
{
  background-color: #fec222;
  border: 1px solid #fec222;
}

.btn-primary:hover
{
  background-color: #db8d30;
  border: 1px solid #db8d30;
}

.col-md-3 a
{
  color: #fec222;
}

.btn-primary:disabled
{
  background-color: #fec222;
  border: 1px solid #fec222;
}
